
/* Global class */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Acme', sans-serif;
  font-family: 'Lato', sans-serif;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#249787 200px, #d5dbda 100px);
}

#app{
  width: 90%;
  min-width: 1200px;
  height: 90vh;
  min-height: 700px;
}

.box-left{
  float: left;
  width: 40%;
  height: 100%;
  background-color: #f9fafa;
}

.box-right{
  float: left;
  height: 100%;
  width: 60%;
}

.top{
  height: 80px;
  background-color: #e9eaea;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-contain, .contact-contain{
  display: flex;
  align-items: center;
}

.user-contain img, .contact-contain img{
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
}
/* //Global class */

/* Left block */
.user-contain h3{
  font-weight: 700;
}

.icon-contain i, .icon-contact i{
  color: #b1b1b2;
  font-size: 20px;
  margin: 5px;
}

.description-contact p{
  color: #687073;
}

.notifiche-user{
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #8edafd;
}

.notifiche-user i{
  padding: 15px;
  font-size: 30px;
  color: #8edafd;
  background-color: white;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 10px;
}

.notifiche-description p{
  color: #687073;
  text-decoration: underline;
  line-height: 30px;
}

.input-user{
  height: 50px;
  padding: 3px;
}

.input-user i{
  padding-left: 5px;
}

.input-user input{
  width: 92%;
  line-height: 40px;
  border-radius: 10px;
  border: 1px solid white;
  padding-left: 15px;
}

.contact-user{
  height: calc(100% - 50px - 80px - 100px);
  display: flex;
  flex-direction: column;
  background-color: white;
}

.left-contact-box{
  display: flex;
}

.contact-box{
  display: flex;
  justify-content: space-between;
  width: 98%;
  background-color: white;
  padding: 15px 25px;
  cursor: pointer;
}

.contact-box img{
  width: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.contact-box-text p{
  line-height: 30px;
  color: rgb(170, 169, 169);
}

.active{
  background-color: #eaebeb !important;
}
/* //Left block */

/* Right box */
.box-right .top{
  border-left: 1px solid #b1b1b2;
}

.sending-messagge{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f3eeea;
  height: 80px;
  padding: 10px;
}

.sending-messagge i{
  font-size: 30px;
  color: #6b7376;
}

.sending-messagge input{
  width: 80%;
  line-height: 35px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.right-contact-box p{
  color: rgb(170, 169, 169);
}

.main-messagge{
  background-image: url(../img/mine.jpg);
  height: calc(100% - 160px);
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.row-message{
  width: 100%;
}

.row-message span{
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 12px;
  color: grey;
}

.message-user, .message-contact{
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 15px;
  position: relative;
  width: 350px;
}

.message-contact{
  background-color: white;
  float: left;
}

.message-user{
  float: right;
  background-color: #d6fbbb;
}

.row-message p{
  padding: 10px 5px;
}
/* //Right box */

/* Effetti hover */
.rec, .smile, .icon-contain i, .icon-contact i{
  transition: all 0.5s;
}

.rec:hover{
  color: red;
}

.smile:hover{
  color: rgb(197, 197, 24);
}

.input-contain{
  background-color: white;
  border: 1px solid lightgrey;
}

.icon-contain i:hover, .icon-contact i:hover{
  color: grey;
} 

.contact-box:hover{
  background-color: rgb(247, 247, 247);
}