<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Acme&family=Lato&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Acme&family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
  integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
  />
  <link rel="stylesheet" href="css/style.css">
  <title>Boolzapp</title>
</head>
<body>

  <div class="container">
    <div id="app" class="clearfix">

      <!-- LEFT BOX -->
      <div class="box-left">
        <!-- TOP USER -->
        <div class="top">
          <div class="user-contain">
            <img src="img/avatar_io.jpg" alt="">
            <h3>Nome Utente</h3>
          </div>
          <div class="icon-contain">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
        <!-- //TOP USER -->

        <!-- SEZIONE NOTIFICHE -->
        <div class="notifiche-user">
          <i class="fas fa-bell-slash"></i>
          <div class="notifiche-description">
            <h4>Ricevi notifiche di nuovi messaggi</h4>
            <p>Attiva notifiche desktop</p>
          </div>
        </div>
        <!-- //SEZIONE NOTIFICHE -->

        <!-- INPUT USER -->
        <div class="input-user">
          <i class="fas fa-search search"></i>
          <input type="text" placeholder="Cerca o inizia una nuova chat">
        </div>
        <!-- //INPUT USER -->

        <!-- CONTACT-USER -->
        <div class="contact-user">
          <div class="contact-box" 
          v-for="(contact, index) in contacts"
          :class="{'active' : counter === index}"
          @click="counter = index">
            <div class="left-contact-box">
              <img :src="contact.img" alt="">
              <div class="contact-box-text">
                <h3>{{contact.name}}</h3>
                <p>{{contact.messages[contact.messages.length - 1].text.slice(0, 15)}}...</p>
              </div>
            </div>
            <div class="right-contact-box">
              <p>{{contact.messages[contact.messages.length - 1].data}}</p>
            </div>
          </div>
        </div>
        <!-- //CONTACT-USER -->
      </div>
      <!-- //LEFT BOX -->

      <!-- RIGHT BOX -->
      <div class="box-right">
        <!-- TOP CONTACT -->
        <div class="top">
          <div class="contact-contain">
            <img :src="contacts[counter].img" alt="">
            <div class="description-contact">
              <h3>{{contacts[counter].name}}</h3>
              <p>Ultimo accesso oggi alle {{contacts[counter].messages[contacts[counter].messages.length - 1].data}}</p>
            </div>  
          </div>

          <div class="icon-contact">
            <i class="fas fa-search"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
        <!-- //TOP CONTACT -->

        <!-- BOX CHAT MESSAGES -->
        <div class="main-messagge clearfix">
          <div class="row-message"
          v-for="message in contacts[counter].messages"
          >
            <div :class="{'message-user': message.stato === 'inviato', 'message-contact': message.stato === 'ricevuto'}">
              <p>{{message.text}}</p>
              <span>{{message.data}}</span>
            </div>   
          </div>  
        </div>
        <!-- //BOX CHAT MESSAGES -->

        <!-- SEND MESSAGES -->
        <div class="sending-messagge">
          <i class="far fa-smile smile"></i>
          <input type="text" placeholder="Scrivi un messaggio">
          <i class="fas fa-microphone rec"></i>
        </div>
        <!-- //SEND MESSAGES -->
      </div>
      <!-- //RIGHT BOX -->
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="js/script.js"></script>
</body>
</html>